body {
  @include body-font;
  background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("assets/img/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

p {
  line-height: 1.75;
}

.text-faded {
  color: fade-out($white, 0.7);
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  @include media-breakpoint-down(md) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  @include heading-font;
  .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 800;
  }
  .site-heading-lower {
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
    @include media-breakpoint-down(md) {
      font-size: 3.5rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 2rem;
    }
  }
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
  .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
  }
  .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
  }
}

.bg-faded {
  background-color: fade-out($white, 0.15);
}

.full-width {
  width: 100%;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-15 {
  margin-right: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.modal-header .close {
  outline: none !important;
}

.page-item {

&.active {
  .page-link {
    background-color: $primary;
    border-color: $primary;
  }
}
  .page-link {
    color: $primary;
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($primary, 0.55);
    }
  }

}

.pagination {
  margin-bottom: 0;
}

.product-sorting-heading {
  color: #fff;
  font-weight: 600;
  margin-right: 0.6rem;
  min-width: 5rem;
  margin-left: 1rem;
}

.progress-bar {
  background-color: $primary;
}