.icon-block {
    display: inline-block;
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 1.2rem;
    height: 1.2rem;


    &.search-icon {
        width: 1.7rem;
        height: 1.7rem;
        background-image: url(/assets/icons/lens.svg);

        &.is-dark {
            background-image: url(/assets/icons/lens-dark.svg);
        }
    }

    &.trash-icon {
        background-image: url(/assets/icons/trash.svg);
    }

    &.pen-icon {
        background-image: url(/assets/icons/pen.svg);
    }



}
