<section class="page-section">
    <div class="container">
      <div class="mt-30">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Dashboard</span>
                <span class="section-heading-lower">Edit Fields Below</span>
              </h2>


              <!-- Pages Form -->
              <form 
              class="form" 
              (ngSubmit)="onSubmit(editPages)"
              #editPages="ngForm"
              >
              <div class="form-group">
              <label for="newHeader">Update Header</label>
              <input 
              type="text" 
              class="form-control" 
              id="newHeader"
              name="newHeader"
              ngModel
              value="{{Dashboardpages.newHeader}}"
              />
              </div>
              <div class="form-group">
                <label for="newFooter">Update Footer</label>
                <input 
                type="text" 
                class="form-control"
                id="newFooter"
                name="newFooter"
                ngModel
                value="{{Dashboardpages.newFooter}}"
                />
                </div>
                <div class="form-group">
                  <label for="productsToShow">Number of Products</label>
                  <input 
                  type="number" 
                  class="form-control"
                  id="productsToShow"
                  name="productsToShow"
                  ngModel
                  value="{{Dashboardpages.productsToShow}}"
                  />
                  </div>
                <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
              <!-- Pages Form -->
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>