<section class="page-section">
    <div class="container">
      <div class="mt-30">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Dashboard</span>
                <span class="section-heading-lower">Edit Fields Below</span>
              </h2>
              
              <!-- Tabs -->
              <ngb-tabset type="pills">

                <!-- Header Tab -->
                  <ngb-tab title="Header">
                    <ng-template ngbTabContent>
                      <p>Header Text</p>
                    </ng-template>
                  </ngb-tab>
                  <!-- Header Tab -->


                  <!-- Footer Tab -->
                  <ngb-tab title="Footer">
                      <ng-template ngbTabContent>
                          <form class="form mt-40" (ngSubmit)="onEditFooter(editFooter)" #editFooter="ngForm">
                              <div class="form-group">
                              <label for="editfooter">Enter Text</label>
                              <textarea 
                              name="editfooter" 
                              id="editfooter" 
                              class="form-control"
                              ngModel
                              required
                              ></textarea>
                              </div>
                              <div class="form-group">
                              <button 
                              type="submit"
                              class="btn btn-secondary"
                              [disabled]="!editFooter.valid"
                              >Save</button>
                              </div>
                              </form>
                      </ng-template>
                    </ngb-tab>
                    <!-- Footer Tab -->


                </ngb-tabset>
              <!-- Tabs -->
  
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>